{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@utils": "./src/utils",
          "@config": "./src/config",
          "@controllers": "./src/controllers",
          "@mockData": "./src/mockData",
          "@routes": "./src/routes"
        }
      }
    ]
  ]
}
