{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "prettier",
    "airbnb-base",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 12
  },
  "rules": {
    "prettier/prettier": "error"
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
